@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body .preloaderContainer {
  position: fixed;
  top: 0;
  background: #383838;
  background: #ffffff;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  transition: all 500ms;
  opacity: 1;
}

.text-load {
  position: absolute;
  bottom: -5px;
  left: -70px;
}

.loader {
  width: 80px;
  height: 67px;
  margin: auto;
  position: relative;
  transform: translateX(-20px);
}

.loader .square {
  background: #009dff;
  background: #217bf4;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  animation-fill-mode: both;
  animation: motion 2.5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.loader .path {
  height: 10px;
  width: 110px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.loader .path > div {
  background: #444;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: 0 15px;
  position: absolute;
  top: 0;
  left: 0;
  animation-fill-mode: both;
  animation: dynamic 5s infinite cubic-bezier(0.89, 0.03, 0.06, 1.5);
}

.loader .path > div:nth-child(1) {
  left: 40px;
}

.loader .path > div:nth-child(2) {
  left: 80px;
}

.loader .path > div:nth-child(3) {
  left: 120px;
}

.loader .path > div:nth-child(4) {
  left: 160px;
}

.loader .path > div:nth-child(5) {
  left: 200px;
}

.loader .path > div:nth-child(6) {
  left: 240px;
}

.loader .path > div:nth-child(7) {
  left: 280px;
}

@keyframes motion {
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes dynamic {
  0% {
    transform: translateX(-40px);
  }
  25% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(-120px);
  }
  75% {
    transform: translateX(-160px);
  }
  100% {
    transform: translateX(-200px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, button {
  font-family: "Inter", sans-serif;
}

:root {
  --accent-color: rgba(33, 123, 244, 1);
  --text_color_mid: rgba(101, 100, 100, 1);
  --text_color_semi_dark: rgba(47, 44, 74, 1);
  --text_color_dark: rgba(10, 9, 61, 1);
  --text_color_semi_light: rgba(140, 140, 140, 1);
  --text_color_light: rgba(231, 231, 231, 1);
  --font_size_largest: 36px;
  --font_size_larger: 24px;
  --font_size_large: 20px;
  --font_size_medium: 18px;
  --font_size_small: 16px;
  --font_size_smaller: 14px;
  --font_size_smallest: 12px;
  --font_weight_regular:400;
  --font_weight_medium:500;
  --font_weight_semibold:600;
  --font_weight_bold:700;
  --header_height:90px;
  --why_image_val:1;
}

.main_container .active_member_section .active_member_container .card_container .card .image_container, .main_container .active_member_section .active_member_container .card_container .card, .main_container .community_section .community_container .grid_container .card .card_icon, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  overflow: hidden;
}

header {
  width: 100%;
  height: var(--header_height);
  transition: all 0.2s;
  z-index: 100;
  position: fixed;
}
header nav {
  max-width: 1200px;
  width: 100%;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .nav_menu {
  max-width: 500px;
  width: 100%;
  transition: all 0.5s;
}
header nav .nav_menu .nav_menu_container {
  display: flex;
  justify-content: space-between;
}
header nav .nav_menu .nav_menu_container .item a {
  color: var(--text_color_mid);
  font-size: var(--font_size_smaller);
  font-weight: var(--font_weight_regular);
}
header nav .nav_menu .nav_menu_container .item .active {
  font-weight: var(--font_weight_semibold);
  color: var(--text_color_dark);
}
header nav .nav_menu_active {
  right: 0 !important;
}
header nav .nav_login_button {
  background-color: var(--accent-color);
  border: none;
  font-size: var(--font_size_smaller);
  font-weight: var(--font_weight_medium);
  color: white;
  padding: 18px 45px;
  border-radius: 14px;
}
header nav .mobile_nav_button {
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 100;
}
header nav .mobile_nav_button .first_bar {
  height: 3px;
  width: 25px;
  background-color: var(--text_color_dark);
  border-radius: 2px;
  transition: all 0.2s;
  transform-origin: top right;
}
header nav .mobile_nav_button .second_bar {
  height: 3px;
  width: 18px;
  background-color: var(--text_color_dark);
  border-radius: 2px;
  transition: all 0.2s;
}
header nav .mobile_nav_button .third_bar {
  height: 3px;
  width: 12px;
  background-color: var(--text_color_dark);
  border-radius: 2px;
  transition: all 0.2s;
  transform-origin: bottom right;
}
header nav .mobile_nav_button_active .second_bar {
  width: 0px;
}
header nav .mobile_nav_button_active .third_bar {
  width: 25px;
  background-color: red;
  transform: rotate(45deg);
}
header nav .mobile_nav_button_active .first_bar {
  background-color: red;
  transform: rotate(-45deg);
}

.scroll-header {
  background-color: white;
  box-shadow: 0px 2px 5px #c8c8c882;
}

.main_container section {
  width: 100%;
}
.main_container .section_container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.main_container .home_section {
  padding-top: var(--header_height);
  height: 656px;
  display: flex;
  align-items: center;
  background: linear-gradient(315deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}
.main_container .home_section .home_container {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.main_container .home_section .home_container .left_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
}
.main_container .home_section .home_container .left_side .subheading {
  width: fit-content;
  color: var(--accent-color);
  font-size: var(--font_size_smallest);
  font-weight: var(--font_weight_medium);
  background: #e1eeff;
  padding: 8px 30px;
  border-radius: 8px;
}
.main_container .home_section .home_container .left_side .heading {
  font-size: 56px;
  font-weight: var(--font_weight_bold);
}
.main_container .home_section .home_container .left_side .content {
  color: var(--text_color_mid);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_regular);
  margin-bottom: 20px;
}
.main_container .home_section .home_container .left_side .button_container .download_button {
  background-color: var(--accent-color);
  padding: 18px 30px;
  font-size: var(--font_size_smaller);
  font-weight: var(--font_weight_regular);
  color: white;
  border: none;
  border-radius: 14px;
  margin-right: 50px;
  box-shadow: 0px 5px 29px rgba(33, 123, 244, 0.3);
}
.main_container .home_section .home_container .left_side .button_container .invite_button {
  background-color: transparent;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  padding: 16px 30px;
  font-size: var(--font_size_smaller);
  font-weight: var(--font_weight_medium);
  border-radius: 14px;
}
.main_container .home_section .home_container .right_side {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.main_container .home_section .home_container .right_side img {
  width: 90%;
}
.main_container .why_section {
  height: 656px;
  display: flex;
  align-items: center;
}
.main_container .why_section .why_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}
.main_container .why_section .why_container .left_side {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}
.main_container .why_section .why_container .left_side .subheading {
  color: var(--accent-color);
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_medium);
  width: fit-content;
}
.main_container .why_section .why_container .left_side .heading {
  color: var(--text_color_dark);
  font-size: var(--font_size_largest);
  font-weight: var(--font_weight_bold);
}
.main_container .why_section .why_container .left_side .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_mid);
  margin-bottom: 10px;
}
.main_container .why_section .why_container .left_side .list_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80px;
}
.main_container .why_section .why_container .left_side .list_container .item {
  display: flex;
}
.main_container .why_section .why_container .left_side .list_container .item .bullet {
  height: 8px;
  width: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-sizing: content-box;
  border: 6px solid #c5deff;
  margin-right: 10px;
}
.main_container .why_section .why_container .left_side .list_container .item .content {
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_medium);
  color: var(--text_color_semi_dark);
}
.main_container .why_section .why_container .right_side {
  display: grid;
  height: 500px;
  width: fit-content;
  grid-gap: 30px;
  grid-template-areas: "first second" "first third";
}
.main_container .why_section .why_container .right_side .first_img {
  grid-area: first;
  background-color: rebeccapurple;
  height: calc( 368px*var(--why_image_val));
  width: calc( 270px*var(--why_image_val));
  align-self: center;
  background-image: url("/assets/img/why_page/first.jpg");
  background-position: center;
  border-radius: 15px;
  background-size: cover;
}
.main_container .why_section .why_container .right_side .second_img {
  grid-area: second;
  background-color: red;
  height: calc( 238px*var(--why_image_val));
  width: calc( 265px*var(--why_image_val));
  align-self: flex-end;
  background-image: url("/assets/img/why_page/second.jpg");
  background-position: center;
  border-radius: 15px;
  background-size: cover;
}
.main_container .why_section .why_container .right_side .third_img {
  grid-area: third;
  background-color: green;
  height: calc( 238px*var(--why_image_val));
  width: calc( 265px*var(--why_image_val));
  background-image: url("/assets/img/why_page/third.jpg");
  background-position: center;
  border-radius: 15px;
  background-size: cover;
}
.main_container .achievement_section {
  height: 656px;
  display: flex;
  align-items: center;
}
.main_container .achievement_section .achievement_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_container .achievement_section .achievement_container .rating_card {
  height: 336px;
  width: 340px;
  box-shadow: 0px 13px 49px 0px rgba(146, 165, 184, 0.14);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
}
.main_container .achievement_section .achievement_container .rating_card .heading_container {
  display: flex;
  align-items: center;
}
.main_container .achievement_section .achievement_container .rating_card .heading_container .heading_icon {
  margin-right: 8px;
  height: 25px;
}
.main_container .achievement_section .achievement_container .rating_card .heading_container .heading {
  font-size: var(--font_size_large);
  color: var(--text_color_dark);
  font-weight: var(--font_weight_medium);
}
.main_container .achievement_section .achievement_container .rating_card .subheading_container {
  display: flex;
  align-items: center;
}
.main_container .achievement_section .achievement_container .rating_card .subheading_container .subheading_icon {
  height: 25px;
  margin-right: 8px;
  filter: drop-shadow(0px 5px 5px #b9b9b9);
}
.main_container .achievement_section .achievement_container .rating_card .subheading_container .subheading {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_medium);
  color: var(--text_color_mid);
}
.main_container .achievement_section .achievement_container .rating_card .subheading_container .subheading span {
  font-weight: var(--font_weight_semibold);
  color: var(--accent-color);
}
.main_container .achievement_section .achievement_container .rating_card .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_semi_light);
}
.main_container .achievement_section .achievement_container .rating_card .button_container {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}
.main_container .achievement_section .achievement_container .rating_card .button_container .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_medium);
  color: var(--accent-color);
}
.main_container .achievement_section .achievement_container .rating_card .button_container .button_icon {
  height: 12px;
  margin-left: 5px;
}
.main_container .achievement_section .achievement_container .awwwards_card {
  height: 336px;
  width: 340px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  border: 2px solid var(--text_color_light);
  border: 2px solid #64a7ff;
  overflow: hidden;
}
.main_container .achievement_section .achievement_container .awwwards_card .heading_container {
  display: flex;
  align-items: center;
}
.main_container .achievement_section .achievement_container .awwwards_card .heading_container .heading_icon {
  margin-right: 8px;
  height: 25px;
}
.main_container .achievement_section .achievement_container .awwwards_card .heading_container .heading {
  font-size: var(--font_size_large);
  color: var(--text_color_dark);
  font-weight: var(--font_weight_medium);
}
.main_container .achievement_section .achievement_container .awwwards_card .subheading_container {
  display: flex;
  align-items: center;
}
.main_container .achievement_section .achievement_container .awwwards_card .subheading_container .subheading_icon {
  margin-right: 8px;
  filter: drop-shadow(0px 2px 2px #b9b9b9);
}
.main_container .achievement_section .achievement_container .awwwards_card .subheading_container .subheading {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_medium);
  color: var(--text_color_mid);
}
.main_container .achievement_section .achievement_container .awwwards_card .subheading_container .subheading span {
  font-weight: var(--font_weight_semibold);
  color: var(--accent-color);
}
.main_container .achievement_section .achievement_container .awwwards_card .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_semi_light);
}
.main_container .achievement_section .achievement_container .awwwards_card .button_container {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
}
.main_container .achievement_section .achievement_container .awwwards_card .button_container .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_medium);
  color: var(--text_color_semi_dark);
}
.main_container .achievement_section .achievement_container .awwwards_card .button_container .button_icon {
  margin-left: 5px;
}
.main_container .achievement_section .achievement_container .right_side {
  height: 336px;
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
}
.main_container .achievement_section .achievement_container .right_side .subheading {
  color: var(--accent-color);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_medium);
  width: fit-content;
}
.main_container .achievement_section .achievement_container .right_side .heading {
  font-size: var(--font_size_largest);
  font-weight: var(--font_weight_bold);
}
.main_container .achievement_section .achievement_container .right_side .content {
  color: var(--text_color_mid);
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  margin-bottom: 20px;
}
.main_container .achievement_section .achievement_container .right_side .discover_button {
  background-color: var(--accent-color);
  padding: 18px 30px;
  font-size: var(--font_size_smaller);
  font-weight: var(--font_weight_regular);
  color: white;
  border: none;
  width: fit-content;
  border-radius: 14px;
  margin-right: 50px;
  box-shadow: 0px 5px 29px rgba(33, 123, 244, 0.3);
}
.main_container .community_section {
  display: flex;
  align-items: center;
  background: linear-gradient(0deg, rgba(241, 246, 253, 0) 1.63%, #F1F6FD 20.5%, #F1F6FD 58.57%, #FFFFFF 100%);
}
.main_container .community_section .community_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_container .community_section .community_container .top_container {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 15px;
  text-align: center;
}
.main_container .community_section .community_container .top_container .subheading {
  color: var(--accent-color);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_medium);
}
.main_container .community_section .community_container .top_container .heading {
  font-size: var(--font_size_largest);
  font-weight: var(--font_weight_bold);
}
.main_container .community_section .community_container .top_container .content {
  color: var(--text_color_mid);
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
}
.main_container .community_section .community_container .grid_container {
  margin: 70px 0px 100px 0px;
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-gap: 30px;
}
.main_container .community_section .community_container .grid_container .card {
  max-width: 522px;
  width: 100%;
  height: 182px;
  background: white;
  border-radius: 14px;
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 35px;
  padding: 40px;
  overflow: hidden;
  grid-template-areas: "card_icon heading" "card_icon content";
}
.main_container .community_section .community_container .grid_container .card .heading {
  align-self: flex-end;
  grid-area: heading;
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_semibold);
  color: var(--text_color_semi_dark);
}
.main_container .community_section .community_container .grid_container .card .content {
  grid-area: content;
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_mid);
}
.main_container .community_section .community_container .grid_container .card .card_icon {
  align-self: center;
  grid-area: card_icon;
  height: 66px;
  width: 66px;
  border-radius: 24px;
  background: black;
}
.main_container .community_section .community_container .grid_container .card .card_icon img {
  width: 34px;
}
.main_container .community_section .community_container .grid_container .members_card .card_icon {
  background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}
.main_container .community_section .community_container .grid_container .forum_card .card_icon {
  background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
}
.main_container .community_section .community_container .grid_container .list_builder_card .card_icon {
  background: linear-gradient(154.49deg, #FF858A 6.61%, #F04148 89.72%);
  box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
}
.main_container .community_section .community_container .grid_container .list_builder_card .card_icon img {
  width: 25px;
}
.main_container .community_section .community_container .grid_container .groups_card .card_icon {
  background: linear-gradient(154.49deg, #FF858A 6.61%, #F04148 89.72%);
  box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
}
.main_container .community_section .community_container .grid_container .groups_card .card_icon img {
  width: 35px;
}
.main_container .community_section .community_container .grid_container .custom_module_card .card_icon {
  background: linear-gradient(154.49deg, #5CA1FE 6.61%, #217BF4 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}
.main_container .community_section .community_container .grid_container .list_scroll_card .card_icon {
  background: linear-gradient(154.49deg, #FFD085 6.61%, #FFAF2E 89.72%);
  box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
}
.main_container .active_member_section {
  display: flex;
  align-items: center;
}
.main_container .active_member_section .active_member_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_container .active_member_section .active_member_container .top_container {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  text-align: center;
}
.main_container .active_member_section .active_member_container .top_container .subheading {
  color: var(--accent-color);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_medium);
}
.main_container .active_member_section .active_member_container .top_container .heading {
  font-size: var(--font_size_largest);
  font-weight: var(--font_weight_bold);
}
.main_container .active_member_section .active_member_container .top_container .content {
  color: var(--text_color_mid);
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
}
.main_container .active_member_section .active_member_container .swiper {
  width: 900px;
  height: fit-content;
}
.main_container .active_member_section .active_member_container .card_container {
  margin: 70px 0px 100px 0px;
}
.main_container .active_member_section .active_member_container .card_container .card {
  width: 270px;
  height: 316px;
  border-radius: 14px;
  border: 2px solid rgba(243, 243, 243, 0.5);
  flex-direction: column;
  row-gap: 30px;
}
.main_container .active_member_section .active_member_container .card_container .card .image_container {
  height: 166px;
  width: 166px;
  position: relative;
}
.main_container .active_member_section .active_member_container .card_container .card .image_container svg {
  position: absolute;
  width: 100%;
}
.main_container .active_member_section .active_member_container .card_container .card .image_container .check_icon {
  position: absolute;
  bottom: 0;
}
.main_container .active_member_section .active_member_container .card_container .card .image_container .profile {
  height: 142px;
  width: 142px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
}
.main_container .active_member_section .active_member_container .card_container .card .content {
  text-align: center;
}
.main_container .active_member_section .active_member_container .card_container .card .content .name {
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_semibold);
  color: var(--text_color_semi_dark);
}
.main_container .active_member_section .active_member_container .card_container .card .content .user_id {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_mid);
  margin-top: 10px;
}
.main_container .active_member_section .active_member_container .card_container .swiper-slide-active {
  border: transparent;
  box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1), 0px 3px 20px rgba(116, 115, 128, 0.1);
}
.main_container .active_member_section .active_member_container .card_container .person1 .profile {
  background-image: url("/assets/img/active_member_page/person1.jpg");
}
.main_container .active_member_section .active_member_container .card_container .person2 .profile {
  background-image: url("/assets/img/active_member_page/person2.jpg");
}
.main_container .active_member_section .active_member_container .card_container .person3 .profile {
  background-image: url("/assets/img/active_member_page/person3.jpg");
}
.main_container .active_member_section .active_member_container .card_container .person4 .profile {
  background-image: url("/assets/img/active_member_page/person4.jpg");
}
.main_container .active_member_section .active_member_container .card_container .person5 .profile {
  background-image: url("/assets/img/active_member_page/person5.jpg");
}
.main_container .active_member_section .active_member_container .card_container .person6 .profile {
  background-image: url("/assets/img/active_member_page/person6.jpg");
}
.main_container .active_member_section .active_member_container .card_container .person7 .profile {
  background-image: url("/assets/img/active_member_page/person7.jpg");
}
.main_container .app_section {
  height: 500px;
  display: flex;
  align-items: center;
  background-color: #E5F0FD;
}
.main_container .app_section .app_container {
  display: flex;
  align-items: center;
  column-gap: 50px;
}
.main_container .app_section .app_container .left_side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 320px;
}
.main_container .app_section .app_container .left_side .container {
  width: 351px;
}
.main_container .app_section .app_container .left_side .subheading {
  width: fit-content;
  color: var(--accent-color);
  font-size: var(--font_size_mid);
  font-weight: var(--font_weight_medium);
}
.main_container .app_section .app_container .left_side .heading {
  font-size: var(--font_size_largest);
  color: var(--text_color_dark);
  font-weight: var(--font_weight_bold);
}
.main_container .app_section .app_container .left_side .content {
  color: var(--text_color_mid);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_regular);
  margin-bottom: 20px;
}
.main_container .app_section .app_container .left_side .button_container {
  display: flex;
  column-gap: 20px;
}
.main_container .app_section .app_container .left_side .button_container img {
  filter: drop-shadow(0px 5px 5px rgba(189, 189, 189, 0.5));
}
.main_container .app_section .app_container .right_side {
  width: 50%;
  display: flex;
  justify-content: center;
}
.main_container .app_section .app_container .right_side img {
  height: 450px;
  filter: drop-shadow(0px 10px 10px #818181);
}
.main_container .news_section {
  height: 800px;
  display: flex;
  align-items: center;
}
.main_container .news_section .news_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.main_container .news_section .news_container .top_container {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
  text-align: center;
  margin-bottom: 70px;
}
.main_container .news_section .news_container .top_container .subheading {
  color: var(--accent-color);
  font-size: var(--font_size_medium);
  font-weight: var(--font_weight_medium);
}
.main_container .news_section .news_container .top_container .heading {
  font-size: var(--font_size_largest);
  font-weight: var(--font_weight_bold);
}
.main_container .news_section .news_container .card_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_container .news_section .news_container .card_container .card {
  width: 340px;
  height: 459px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_container .news_section .news_container .card_container .card .thumbnail {
  width: 100%;
  background-position: center;
  border-radius: 20px;
}
.main_container .news_section .news_container .card_container .card .title {
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_semibold);
  color: var(--text_color_semi_dark);
  padding-left: 30px;
  position: relative;
}
.main_container .news_section .news_container .card_container .card .title::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 4px;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}
.main_container .news_section .news_container .card_container .card .button_container {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
}
.main_container .news_section .news_container .card_container .card .button_container .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_mid);
  margin-right: 8px;
  transition: all 0.2s;
}
.main_container .news_section .news_container .card_container .card .button_container .button_icon {
  transition: all 0.2s;
}
.main_container .news_section .news_container .card_container .card .button_container .button_icon path {
  stroke: var(--text_color_semi_light);
}
.main_container .news_section .news_container .card_container .card .button_container:hover .content {
  color: var(--accent-color);
  margin-right: 8px;
}
.main_container .news_section .news_container .card_container .card .button_container:hover .button_icon {
  transform: translateX(10px);
}
.main_container .news_section .news_container .card_container .card .button_container:hover .button_icon path {
  stroke: rgba(33, 124, 244, 0.699);
}
.main_container .news_section .news_container .card_container .card:nth-child(1) .thumbnail {
  background-image: url("/assets/img/news_page/image1.jpg");
}
.main_container .news_section .news_container .card_container .card:nth-child(2) .thumbnail {
  background-image: url("/assets/img/news_page/image2.jpg");
}
.main_container .news_section .news_container .card_container .card:nth-child(3) .thumbnail {
  background-image: url("/assets/img/news_page/image3.jpg");
}
.main_container .quick_link_section {
  height: 390px;
  display: flex;
  align-items: center;
  background-color: #2b2b39;
}
.main_container .quick_link_section .quick_link_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_container .quick_link_section .quick_link_container .link_container {
  max-width: 668px;
  width: 100%;
  height: 226px;
  display: flex;
  justify-content: space-between;
}
.main_container .quick_link_section .quick_link_container .link_container .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main_container .quick_link_section .quick_link_container .link_container .container .title {
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_medium);
  color: white;
}
.main_container .quick_link_section .quick_link_container .link_container .container .link {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_semi_light);
}
.main_container .quick_link_section .quick_link_container .subscribe_container {
  width: 339px;
  height: 218px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.main_container .quick_link_section .quick_link_container .subscribe_container .title {
  font-size: var(--font_size_large);
  font-weight: var(--font_weight_medium);
  color: white;
  line-height: 32px;
}
.main_container .quick_link_section .quick_link_container .subscribe_container .content {
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_regular);
  color: var(--text_color_semi_light);
}
.main_container .quick_link_section .quick_link_container .subscribe_container .input_container {
  height: 48px;
  width: 100%;
  border: 2px solid white;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
}
.main_container .quick_link_section .quick_link_container .subscribe_container .input_container .subscribe_button {
  border: none;
  background-color: white;
  color: var(--text_color_dark);
  height: 100%;
  font-size: var(--font_size_small);
  font-weight: var(--font_weight_medium);
  padding: 0px 17px;
  border-radius: 10px;
}
.main_container .quick_link_section .quick_link_container .subscribe_container .input_container .email_input {
  width: 200px;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 20px;
  outline: none;
  font-size: var(--font_size_small);
  color: white;
}

footer {
  background-color: #20202D;
}
footer .footer_container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: var(--header_height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer_container .copy_write {
  color: var(--text_color_light);
  font-size: var(--font_size_smaller);
}
footer .footer_container .logo {
  height: 30px;
}
footer .footer_container .social_container {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
footer .footer_container .social_container .linkin {
  height: 23px;
}

@media only screen and (max-width: 1200px) {
  :root {
    --font_size_largest: 32px;
  }

  section {
    padding: 0px 20px;
  }

  header, footer {
    padding: 0px 20px;
  }

  .main_container .home_section .home_container .left_side .heading {
    font-size: 48px;
  }

  .main_container .achievement_section .achievement_container .rating_card,
.main_container .achievement_section .achievement_container .awwwards_card {
    height: 302px;
    width: 306px;
  }

  .main_container .achievement_section .achievement_container .right_side {
    height: 302px;
    width: 310px;
  }

  .main_container .community_section .community_container .grid_container .card {
    max-width: 465px;
    height: 160px;
    padding: 30px;
  }

  .main_container .news_section .news_container .card_container .card {
    width: 300px;
    height: 420px;
  }
}
@media only screen and (max-width: 992px) {
  :root {
    --header_height:70px;
  }

  header nav .nav_menu {
    position: absolute;
    height: 100vh;
    background-color: white;
    width: 50%;
    max-width: 300px;
    right: -100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: -5px 0px 20px #72727233;
  }
  header nav .nav_menu .nav_menu_container {
    flex-direction: column;
    align-items: center;
    height: 40%;
  }
  header nav .nav_menu .nav_menu_container .item {
    user-select: none;
  }

  header nav .buttons_container {
    display: flex;
    align-items: center;
  }
  header nav .buttons_container .nav_login_button {
    background-color: transparent;
    color: var(--accent-color);
  }
  header nav .mobile_nav_button {
    display: flex;
  }
  header nav .mobile_nav_overlay {
    position: absolute;
    height: 100vh;
    width: 0vw;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.11);
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: opacity 0.2s;
  }
  header nav .mobile_nav_overlay_active {
    width: 100vw;
    opacity: 1;
  }

  .main_container .home_section {
    height: 520px;
  }

  .main_container .home_section .home_container .left_side .heading {
    font-size: 42px;
  }

  .main_container .home_section .home_container .left_side .button_container .download_button {
    margin-right: 20px;
  }

  :root {
    --why_image_val:0.7;
  }

  .main_container .why_section {
    height: 570px;
  }

  .main_container .why_section .why_container .left_side {
    height: 315px;
    width: 40%;
  }

  .main_container .achievement_section {
    padding-top: 50px;
    height: 760px;
  }

  .main_container .achievement_section .achievement_container {
    display: grid;
    grid-template-areas: "right_side right_side" "rating awwwards";
    justify-content: normal;
  }
  .main_container .achievement_section .achievement_container .rating_card {
    grid-area: rating;
    margin: 0px auto;
  }
  .main_container .achievement_section .achievement_container .awwwards_card {
    grid-area: awwwards;
  }
  .main_container .achievement_section .achievement_container .right_side {
    grid-area: right_side;
    margin-bottom: 50px;
  }

  .main_container .achievement_section .achievement_container {
    margin-bottom: 50px;
  }

  .main_container .community_section .community_container .grid_container {
    grid-gap: 30px;
    grid-template-columns: repeat(1, max-content);
  }

  .main_container .active_member_section .active_member_container .swiper {
    width: 729px;
  }

  .main_container .active_member_section .active_member_container .card_container .card {
    height: 300px;
  }

  .main_container .news_section {
    height: 600px;
  }

  .main_container .news_section .news_container .card_container .card {
    width: 220px;
    height: 340px;
  }

  .main_container .quick_link_section .quick_link_container .link_container {
    max-width: 350px;
  }
}
@media only screen and (max-width: 769px) {
  :root {
    --font_size_largest: 28px;
    --header_height:70px;
    --why_image_val:0.7;
  }

  header nav .nav_login_button {
    padding: 14px 34px;
  }

  .main_container .home_section {
    height: fit-content;
    padding-bottom: 70px;
  }
  .main_container .home_section .home_container {
    flex-direction: column-reverse;
    column-gap: 0px;
    row-gap: 20px;
  }
  .main_container .home_section .home_container .left_side {
    width: 100%;
    align-self: flex-end;
  }
  .main_container .home_section .home_container .left_side .heading {
    font-size: 38px;
  }
  .main_container .home_section .home_container .left_side .button_container .download_button {
    margin-right: 50px;
  }
  .main_container .home_section .home_container .right_side {
    width: 70%;
    max-width: 400px;
    justify-content: center;
  }

  .main_container .why_section {
    height: fit-content;
    padding-bottom: 70px;
  }

  .main_container .why_section .why_container {
    column-gap: 20px;
    flex-direction: column-reverse;
  }

  .main_container .why_section .why_container .right_side {
    grid-gap: 20px;
  }

  .main_container .why_section .why_container .left_side {
    width: 100%;
  }

  .main_container .achievement_section {
    height: fit-content;
    padding-bottom: 70px;
  }
  .main_container .achievement_section .achievement_container {
    grid-template-areas: "right_side" "rating" "awwwards";
    justify-content: center;
    grid-row-gap: 50px;
    margin-bottom: 0px;
  }
  .main_container .achievement_section .achievement_container .right_side {
    margin-bottom: 0px;
    width: 100%;
    height: fit-content;
    row-gap: 20px;
  }
  .main_container .achievement_section .achievement_container .awwwards_card {
    justify-self: center;
  }

  .main_container .community_section .community_container {
    padding-bottom: 50px;
  }

  .main_container .community_section .community_container .grid_container .card {
    height: fit-content;
    max-width: 429px;
  }

  .main_container .community_section .community_container .grid_container {
    margin-bottom: 0px;
  }

  .main_container .active_member_section .active_member_container .swiper {
    width: 100%;
  }

  .main_container .app_section {
    height: fit-content;
  }
  .main_container .app_section .app_container {
    flex-direction: column-reverse;
    padding: 70px 0px;
    row-gap: 50px;
  }
  .main_container .app_section .app_container .right_side img {
    height: 350px;
  }
  .main_container .app_section .app_container .left_side {
    width: 100%;
    height: fit-content;
  }
  .main_container .app_section .app_container .left_side .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .main_container .app_section .app_container .left_side .container .content {
    margin-bottom: 0px;
  }

  .main_container .news_section {
    height: fit-content;
  }
  .main_container .news_section .news_container {
    padding: 70px 0px;
  }
  .main_container .news_section .news_container .card_container {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }
  .main_container .news_section .news_container .card_container .card {
    width: 300px;
    height: 400px;
  }

  .main_container .quick_link_section {
    height: fit-content;
  }
  .main_container .quick_link_section .quick_link_container {
    padding: 50px 0px;
    flex-direction: column-reverse;
    row-gap: 50px;
  }
  .main_container .quick_link_section .quick_link_container .subscribe_container {
    width: 100%;
    max-width: 500px;
    height: fit-content;
    row-gap: 30px;
  }
  .main_container .quick_link_section .quick_link_container .link_container {
    max-width: 500px;
    width: 100%;
  }

  footer .footer_container .social_container {
    width: 120px;
  }
}
@media only screen and (max-width: 480px) {
  :root {
    --why_image_val:0.55;
    --header_height:60px;
  }

  header, footer {
    padding: 0px 10px;
  }

  header nav .nav_login_button {
    padding: 12px 24px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--accent-color);
    justify-self: flex-end;
  }
  header nav img {
    height: 30px;
  }

  footer .footer_container .logo {
    height: 22px;
  }

  section {
    padding: 0px 10px;
  }

  .main_container .home_section .home_container {
    margin-top: 20px;
  }
  .main_container .home_section .home_container .left_side .heading {
    font-size: 36px;
  }
  .main_container .home_section .home_container .left_side .button_container {
    display: flex;
    justify-content: space-between;
  }
  .main_container .home_section .home_container .left_side .button_container .download_button {
    margin-right: 0px;
  }
  .main_container .home_section .home_container .right_side img {
    width: 280px;
  }

  .main_container .why_section .why_container .right_side {
    grid-gap: 15px;
  }

  .main_container .why_section .why_container .right_side .first_img,
.main_container .why_section .why_container .right_side .second_img,
.main_container .why_section .why_container .right_side .third_img {
    border-radius: 10px;
  }

  .main_container .community_section .community_container .grid_container .card {
    max-width: 340px;
  }

  .main_container .community_section .community_container .grid_container .card {
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    padding: 25px;
  }

  .main_container .community_section .community_container .grid_container .card .card_icon img {
    width: 28px;
  }

  .main_container .community_section .community_container .grid_container .list_builder_card .card_icon img {
    width: 21px;
  }

  .main_container .community_section .community_container .grid_container .card .card_icon {
    width: 60px;
    height: 60px;
    border-radius: 22px;
  }

  .main_container .active_member_section .active_member_container .card_container .card {
    height: 250px;
  }
  .main_container .active_member_section .active_member_container .card_container .card .image_container {
    height: 120px;
    width: 120px;
  }
  .main_container .active_member_section .active_member_container .card_container .card .image_container .profile {
    height: 100px;
    width: 100px;
  }
  .main_container .active_member_section .active_member_container .card_container .card .image_container .check_icon {
    height: 20px;
  }
}